In [101]:
import pandas as pd
import numpy as np

df = pd.read_csv('census-income.data', sep=",") # read in the csv file
df.head()

,age,class of worker,industry code,occupation code,adjusted gross income,education,wage per hour,enrolled in edu inst last wk,marital status,major industry code,...,country of birth mother,country of birth self,citizenship,total person income,own business or self employed,taxable income amount,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,Unnamed: 45
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN,NaN
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN,NaN
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN,NaN
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN,NaN
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN,NaN