In [95]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 999
df = pd.read_csv('census-income.data', sep=",") # read in the csv file
# df["Unnamed: 45"]
# del df["Unnamed: 45"]
# del df["federal income tax liability"]

# df.isnull().any()

# np.list = df["age"].apply(np.isnan)
# for el in np.list: 
#     if el == true:
#         print(el)
df.head()
# df["veterans benefits"]
# grpd = df.groupby(by="veterans benefits")
# for val, grp in grpd:
#     print(val)

,age,class of worker,industry code,occupation code,education,wage per hour,enrolled in edu inst last wk,marital status,major industry code,major occupation code,race,hispanic origin,sex,member of a labor union,reason for unemployment,full or part time employment stat,capital gains,capital losses,dividends from stocks,federal income tax liability,tax filer status,region of previous residence,state of previous residence,detailed household and family stat,detailed household summary in household,instance weight,migration code-change in msa,migration code-change in reg,migration code-move within reg,live in this house 1 year ago,migration prev res in sunbelt,num persons worked for employer,family members under 18,total person earnings,country of birth father,country of birth mother,country of birth self,citizenship,total person income,own business or self employed,taxable income amount,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,Unnamed: 44
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Other Rel 18+ ever marr not in subfamily,Other relative of householder,1700.09,?,?,?,Not in universe under 1 year old,?,0,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,White,All other,Male,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Head of household,South,Arkansas,Householder,Householder,1053.55,MSA to MSA,Same county,Same county,No,Yes,1,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,Asian or Pacific Islander,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Child 18+ never marr Not in a subfamily,Child 18 or older,991.95,?,?,?,Not in universe under 1 year old,?,0,Not in universe,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Nonfiler,Not in universe,Not in universe,Child <18 never marr not in subfamily,Child under 18 never married,1758.14,Nonmover,Nonmover,Nonmover,Yes,Not in universe,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Children or Armed Forces,0,0,0,Nonfiler,Not in universe,Not in universe,Child <18 never marr not in subfamily,Child under 18 never married,1069.16,Nonmover,Nonmover,Nonmover,Yes,Not in universe,0,Both parents present,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN,NaN

In [86]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 999
df = pd.read_csv('data2.data.txt', sep=",") # read in the csv file
# df["Unnamed: 45"]
# del df["Unnamed: 45"]
# del df["federal income tax liability"]

# df.isnull().any()

# np.list = df["age"].apply(np.isnan)
# for el in np.list: 
#     if el == true:
#         print(el)
df.head()
# df["veterans benefits"]
# grpd = df.groupby(by="veterans benefits")
# for val, grp in grpd:
#     print(val)

CParserError: Error tokenizing data. C error: Expected 32 fields in line 3, saw 42