In [105]:
import pandas as pd
import numpy as np

df = pd.read_csv('census-income.data', sep=",") # read in the csv file
df.tail()

,age,class of worker,industry code,occupation code,education,wage per hour,enrolled in edu inst last wk,marital status,major industry code,major occupation code,...,country of birth mother,country of birth self,citizenship,total person income,own business or self employed,taxable income amount,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,Unnamed: 44
199518,87,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
199519,65,Self-employed-incorporated,37,2,11th grade,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN
199520,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,- 50000.,NaN,NaN,NaN
199521,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN,NaN
199522,32,Private,42,30,High school graduate,0,Not in universe,Never married,Medical except hospital,Other service,...,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,- 50000.,NaN,NaN,NaN